.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1f21ce !important;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Bold;
    font-size: 20px;
    font-style: normal;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.right {
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffcc00;
    cursor: pointer;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
    margin-left: 20px;
    font-weight: 100;
}

.popover-list {
    padding: 5px;
}

.popover-item {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: blueviolet;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}