<app-navbar></app-navbar>

<div class="container">
    <div class="order-thankyou">
        <h1> Order confirm</h1>
        <p> Thank you for your order. Below are your order details</p>
    </div>
    
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/1472443/pexels-photo-1472443.jpeg"
                            alt="Raspberry Pi 4"
                            class="product-image">
                            <span class="product-name">Raspberry Pi 4</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100$</td>
                    <td>200$</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/1472443/pexels-photo-1472443.jpeg"
                            alt="Raspberry Pi 4"
                            class="product-image">
                            <span class="product-name">Raspberry Pi 4</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100$</td>
                    <td>200$</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/1472443/pexels-photo-1472443.jpeg"
                            alt="Raspberry Pi 4"
                            class="product-image">
                            <span class="product-name">Raspberry Pi 4</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100$</td>
                    <td>200$</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button">Continue</button>
        </div>
    </div>
</div>

<app-footer></app-footer>