<app-navbar></app-navbar>

<div class="container">
    <div class="order-thankyou">
        <h1> Order confirm</h1>
        <p> Thank you for your order. Below are your order details</p>
    </div>
    
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of cartItems">
                    <tr>
                        <td>
                            <div class="product-info">
                                <img [src]="item.product.thumbnail" alt="Product Image" 
                                class="product-image">
                                <span class="product-name">{{ item.product.name }}</span>
                            </div>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price }}$</td>
                        <td>{{ item.product.price * item.quantity }}$</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button" (click)="onHome()">Continue</button>
        </div>
    </div>
</div>

<app-footer></app-footer>