<app-navbar></app-navbar>
<div  class="container">
    <!--search box ben trai, combobox ben phai-->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Search product"
            placeholder="Search here" [(ngModel)]="keyword">
        <select class="form-control product-list" [(ngModel)]="selectedCategoryId">
            <option [value]="0">All</option>
            <option *ngFor="let category of categories" [value]="category.id"> 
                {{ category.name }}
            </option>
        </select>
        <Button class="btn btn-primary ml-2" (click)="searchProducts()">Search</Button>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let product of products">
            <div class="product-items">
                <img [src]="product.url" alt="Product Image" class="product-image"  (click)="onProductDetail(product.id)">
                <h3 class="product-name" (click)="onProductDetail(product.id)">{{product.name}}</h3>
                <p class="product-description">{{product.description}}</p>
                <p class="product-warranty">Warranty: 12 months</p>
                <p class="product-price">Price: <del>{{product.price*2}}$</del> {{product.price}}$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary" (click)="addToCart(product.id)">Add to cart</button>
                    <span class="space-button"></span>
                    <button class="btn btn-success" (click)="byNow(product.id)">Buy now</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="pagination-container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" *ngIf="currentPage > 0">
                <a class="page-link" (click)="onPageChange(0)">First</a>
            </li>
            <li class="page-item" *ngIf="currentPage > 0">
                <a class="page-link" (click)="onPageChange(currentPage - 1)">Prev</a>
            </li>
            <ng-container *ngFor="let page of visiblePages">
                <li class="page-item" [ngClass]="{'active': page === currentPage}">
                    <a class="page-link" (click)="onPageChange(page)">{{ page+1 }}</a>
                </li>
            </ng-container>
            
            <li class="page-item" *ngIf="currentPage < totalPages-1">
                <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
            </li>
            <li class="page-item" *ngIf="currentPage < totalPages-1">
                <a class="page-link" (click)="onPageChange(totalPages-1)">Last</a>
            </li>
        </ul>
    </nav>
</div>

<app-footer></app-footer>