<app-navbar></app-navbar>

<div class="container">
    <div class="row" >
        <div class="col-md-6">
            <h2 class="product-header">Receiver's infomation</h2>
            <form >
                <div class="mb-3">
                    <label for="fullname" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="fullname" [(ngModel)]="orderData.fullname" required name="fullname" #fullname="ngModel">
                    <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="text-danger">
                        <div *ngIf="fullname.errors?.['required']">
                            Please enter your name.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="orderData.email" name="email" required email #email="ngModel">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <div *ngIf="email.errors?.['required']">
                            Please enter your mail.
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            Please enter your mail.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <input type="tel" class="form-control" id="phone" [(ngModel)]="orderData.phone_number" required name="phone" #phone="ngModel">
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                        <div *ngIf="phone.errors?.['required']">
                            Please enter your mail.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input type="text" class="form-control" id="address" [(ngModel)]="orderData.address" required name="address" #address="ngModel">
                    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
                        <div *ngIf="address.errors?.['required']">
                            Please enter your address.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Note:</label>
                    <input type="text" class="form-control" id="note" [(ngModel)]="orderData.note" name="note">
                </div>
                <div class="mb-3">
                    <label for="shipping" class="form-label">Shipping method:</label >
                    <select class="form-control" id="shipping" [(ngModel)]="orderData.shipping_method" name="shipping" required #shipping="ngModel">
                        <div *ngIf="shipping.invalid && (shipping.dirty || shipping.touched)" class="text-danger">
                            <div *ngIf="shipping.errors?.['required']">
                                Please enter your shipping method.
                            </div>
                        </div>
                        <option value="Fast">Fast (Express)</option>
                        <option value="Normal">Normal</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="payment" class="form-label">Payment method:</label>
                    <select class="form-control" id="paymentMethod" [(ngModel)]="orderData.payment_method" name="payment" required  #payment="ngModel">
                        <div *ngIf="payment.invalid && (payment.dirty || payment.touched)" class="text-danger">
                            <div *ngIf="payment.errors?.['required']">
                                Please enter your payment method.
                            </div>
                        </div>
                        <option value="COD">COD</option>
                        <option value="Other">Other payment</option>
                    </select>
                </div>

            </form>
        </div>

        <div class="col-md-6">
            <h2 class="product-ordered">Products ordered</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of cartItems">
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img [src]="item.product.thumbnail" alt="Product Image" 
                                    class="product-image">
                                    <span class="product-name">{{ item.product.name }}</span>
                                </div>
                            </td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }}$</td>
                            <td>{{ item.product.price * item.quantity }}$</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <button class="btn btn-primary btn-apply" (click)="removeItemFromCart()">Clear Cart</button>
            <div class="input-group mb-3 mt-3 col-6">
                <input type="text" class="form-control" [(ngModel)]="couponCode" placeholder="Coupon">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-apply" type="button" (click)="applyCoupon()">Apply</button>
                </div>
            </div>
    
            <p class="mt-0">Total: {{ totalAmount }}$ </p>
            <div class="text-center mt-3">
                <button class="btn btn-gradient" type="button" (click)="placeOrder()">Order</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>