.btn-gradient {
    background: linear-gradient(to right, rgb(255,64,180), rgb(126,43,237));
    color: white;
    border-radius: 30px;
    width: 100px;
    margin-bottom: 20px;
}
.form-user{
    margin-top: 20px;
    color: white;
}

.update-user{
    color: white;
}